#Git ignore

# Unity library
Library/
Temp/

# OSX
.DS_Store
.svn

# Thumbnails
._*

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Video files
Assets/StreamingAssets/AVProVideoSamples/
Assets/StreamingAssets/VRFiles/*

# Git
